<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application>
        <service
            android:name=".notification.NotificationService"
            android:exported="false"/>

        <service
            android:name=".notification.PersistentNotificationService"
            android:exported="false"/>

        <service
            android:name=".saved.SavedGamesService"
            android:exported="false"/>

        <service
            android:name=".friends.FriendService"
            android:exported="false"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="rbstarbuck.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>